.oswald  {
  font-family: 'Oswald', Arial, sans-serif;
}

.Knight_1 {
}

.Knight_2 {

}

body {
  font-family: 'Noto Sans', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #494949;
}



header {
  background-color: #343434;
  color: white;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.menu {
  position: absolute;
  
}

header h1 {
  margin: 0;
  font-size: 2.2em;
}

header p {
  font-size: 0.9em;
  color: #ffffff;
}


.container {
  max-width: 850px;
  margin: 30px auto;
  background-color: #413e3e;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.header-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}


p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.opening {
  margin-bottom: 35px;
  height: 300px;;
}

.opening h2 {
  font-family: "Momo Trust Display", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}

.Chess {
    width: 300px;
    height: auto;
    float: right;
    margin-left: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


.scroll-box {
  width: 300px;
  height: 200px;          
  overflow-y: scroll;    
  border: 1px solid #ccc;
  padding: 10px;
}
