body {
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',Geneva, Verdana, sans-serif;
}

#Introductie {
    border: 20px solid rgb(80, 156, 255);      
    background-color: #bde7fffd;   
    padding: 10px;               
    margin: 15px;              
}
#Favouriete_gerecht {
    border: 20px solid rgb(80, 156, 255);      
    background-color: #bde7fffd;   
    padding: 10px;               
    margin: 15px;              
}

#Lijst {
    border: 20px solid rgb(80, 156, 255);      
    background-color: #bde7fffd;   
    padding: 10px;               
    margin: 15px;       
    padding-left: 40px;       
}


#Talen {
    border: 20px solid rgb(80, 156, 255);      
    background-color: #bde7fffd;   
    padding: 10px;               
    margin: 15px;              
}
         

